@import 'fonts';
@import 'variables';
@import 'components';

html {
    font-size: 14px;
    line-height: 1.5;
}

body {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #edeef0;
}

.wrapper {
    max-width: $wrapper_width;
    margin: 0 auto;
    padding: ($header_height + 24px) 0 0;

    &__content {
        box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
        border-radius: 4px 4px 0 0;
    }

    &__top {
        position: sticky;
        top: $header_height + 1px;
        background-color: white;
        box-shadow: 0 0 0 1px $steel_gray_80;
        border-radius: 3px 3px 0 0;
        z-index: 1;
    }

    &__middle {
        background-color: white;
    }

    &__loader {
        overflow: hidden;
        padding: 24px;
    }
}

// .modal-content {
//     padding: 0px !important;
// }

// .modal {
//     box-shadow: 0 2px 10px $black_alpha40 !important;

//     background: white;
//     border-radius: 4px;
// }

// .modal-content {
//     padding: 6px 20px 5px !important;
// }

// .modal-title h2 {
//     font-size: 16px;
//     background: $steel_gray_10;
//     margin: 0;
//     padding: 0 20px;
//     border-bottom: 1px solid $steel_gray_80;
//     border-radius: 4px 4px 0 0;
//     line-height: 54px;
//     overflow-wrap: break-word;
// }

// .modal-footer {
//     background-color: inherit !important;
// }

// .modal-footer a {
//     text-transform: inherit;
//     background-color: $light_blue;
//     color: white;
//     border-radius: 4px;
// }

@import 'adaptive';
