@media (max-width: 375px) {
  .contact {
    &__top {
      flex-direction: column;
      align-items: flex-start;
    }
    &__right_side {
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: inherit;
    height: 100vh;
    overflow: auto;
    padding: inherit;

    &__top {
      position: fixed;
      width: 100%;
    }

    &__middle .infinity_list {
      padding-top: 2 * $header_height;
      padding-bottom: $header_height;
    }

    &__bottom {
      position: fixed;
      width: 100%;
      bottom: 10px;

      .person_add {
        position: static;
        margin: 0 auto;
        height: $header_height;
        padding: 16px;
        width: 98%;

        border-radius: 10px;
        opacity: 1;
      }
    }
  }

  .contact {
    &__remove {
      visibility: visible;
      border: 1px black solid;
      padding: 5px;
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
  }
}
