@media (max-width: 375px) {
    .contact {
        &__top {
            flex-direction: column;
            align-items: flex-start;
        }
        &__right_side {
            justify-content: space-between;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .person_add {
        border-radius: 0;
        opacity: 1;
        position: static;
        width: 100%;
        height: $header_height;
        padding: 16px;
    }

    .wrapper {
        max-width: inherit;
        height: 100vh;
        overflow: auto;
        padding: inherit;

        &__top {
            position: fixed;
            width: 100%;
        }

        &__middle .infinity_list{
            padding-top: 2 * $header_height;
            padding-bottom: $header_height;
        }

        &__bottom {
            position: fixed;
            width: 100%;
            bottom: 0;
        }
    }

    .contact {
        &__remove {
            visibility: visible;
            border: 1px black solid;
            padding: 5px;
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }
    }
}
