$wrapper_width: 550px;
$layout_width: 960px;
$header_height: 48px;
$contact_height: 71px;

$text_secondary: #818c99;

$field_border: #0000001f;
$field_background: #f2f3f5;

$light_blue: #2787f5;
$lighten_blue: #529ef7;

$black_alpha40: #00000066;

$steel_gray_10: #fafbfc;
$steel_gray_20: #f7f8fa;
$steel_gray_60: #edeef0;
$steel_gray_80: #e7e8ec;

$steel_gray_300: #99a2ad;
$steel_gray_400: #818c99;
$steel_gray_500: #6f7985;
$steel_gray_540: #626d7a;
$steel_gray_600: #4e5966;
